@import "tailwindcss";

@theme {
    --breakpoint-xs: 425px;

    --animate-bounce-slow: bounceSlow 2s ease-in-out infinite 10s;

    @keyframes bounceSlow {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-12px);
        }

        60% {
            transform: translateY(-6px);
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(174, 116, 97, 0.45);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(174, 116, 97, 0.65);
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(174, 116, 97, 0.6) transparent;
}