@import "tailwindcss";

@theme {
    --breakpoint-xs: 425px;

    --animate-bounce-slow: bounceSlow 2s ease-in-out infinite 10s;

    @keyframes bounceSlow {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-12px);
        }

        60% {
            transform: translateY(-6px);
        }
    }
}